.bgadded {
	background-color: #D3AC2B ;

}
ul, li, a {
	list-style-type: none;
	text-decoration: none;
	font-size: small;
	font-weight: 300;
  color:white;


}
a:link {
	color: white;
  text-decoration: none;
  }
  
  /* visited link */
  a:visited {
	color: black;
  text-decoration: none;
  }

  /* mouse over link */
  a:hover {
	color: gray;
  text-decoration: none;
  }
  
  /* selected link */
  a:active {
	color: white;
  text-decoration: none;
  }