.container_all {
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	
}

.img_one {
	width: 50%;
	height:350px;
}


@media screen and (min-width: 320px) and (max-width: 768px) {
    .container_all {
		display:flex;
		flex-direction: column;
		justify-content: center;
		
		gap: 10px;

	}
	.img_container {
		display:block;
		padding-top: 30px;
	}
	.img_one {
		display:flex;
		justify-content:center;
		align-items:center;
		width:100%;
	}
}

@media screen and (min-width: 769px) {
    
}